@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* Variables */
:root {
  --primary-color: #1a4b7f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  font-size: 16px;
  color: var(--primary-color);
}

h1 {
  font-weight: 900;
  font-size: 1.6em;
  margin-bottom: 0.4em;
}

label {
  font-size: 0.8em;
  display: block;
}
.mapbox-gl-draw_ctrl-draw-btn {
  width: 3em;
  height: 3em;
}

.mapbox-gl-draw_ctrl-draw-btn.active {
  background-color: rgb(228, 228, 228);
}

.calculator__container {
  color: #fff;
  position: absolute;
  left: 1em;
  right: 1em;
  bottom: 0;
  background-color: var(--primary-color);
  border-radius: 0.5em 0.5em 0 0;
  padding: 1em;
  box-shadow: 1px 1px 1em rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 33vh;
}

.nominal-power-result-container {
  padding: 1em;
  flex: 1; 
  align-items: center;
  text-align: center;
  display: flex;
  border: 1px solid #fff;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5em;
}

.nominal-total {
  font-size: 1.75em;
  font-weight: 900;
}


.react-geocoder {
  display: block;
  margin-bottom: 1em;
  position: relative;
}
.geocoder__label {
  position: relative;
}
.geocoder__locate-button {
  color: var(--primary-color);
  position: absolute;
  right: 0;
  top: calc(1px + 0.25em);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background-color: transparent;
  border: none;
}
.react-geocoder input {
  margin-top: 0.25em;
  width: 100%;
 padding: 0.25em 2em 0.25em 0.25em;
 border-radius: 0.25em;
 border: 1px solid var(--primary-color);
 color: var(--primary-color);
 text-overflow: ellipsis;
}
.react-geocoder-results {
  color: var(--primary-color);
  position: absolute;
  background-color: #fff;
  padding: 0.5em;
  border: 1px solid #eeeeee;
  cursor: pointer;
  box-shadow: 1px 1px 1em rgba(0, 0, 0, 0.1);
}

.react-geocoder-item {
  padding: 0.25em;
}

.react-geocoder-item:hover {
  background-color: #eeeeee;
}

@media screen and (min-width: 800px) {
  .calculator__container {
    position: absolute;
    left: auto;
    right: 4em;
    top: 4em;
    bottom: 4em;
    border-radius: 0.5em;
    padding: 1em;
    width: 20vw;
    min-width: 300px;
    max-height: 400px;
    box-shadow: 1px 1px 1em rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
}